{% extends 'members/base.html' %}

{% block content %}
  <div class="container">
    <h1 class="mb-4">Church Attendance Records</h1>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>SN</th>
            <th>Date</th>
            <th>Member</th>
            <th>Gender</th>
            <th>Service Type</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for record in object_list %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ record.date }}</td>
              <td>{{ record.member }}</td>
              <td>{{ record.member.gender }}</td>
              <td>{{ record.service_type }}</td>
              <td>
                <a href="{% url 'attendance_record_update' record.pk %}" class="btn btn-sm btn-primary">Edit</a>
                <a href="{% url 'attendance_record_delete' record.pk %}" class="btn btn-sm btn-danger">Delete</a>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="4">No attendance records found.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="{% url 'attendance_record_create' %}" class="btn btn-primary">Add Attendance Record</a>
    </div>
  </div>
{% endblock %}
