
{% extends "members/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}



    <style>
        .container {
            margin-top: 50px;
        }
        .logo {
            width: 200px;
        }
    </style>

    
    <div class="container text-center">
        <img src="{% static 'img/logo.png' %}" alt="Church Logo" class="logo mb-4">
     
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
     
        <a href="{% url 'index' %}" class="btn btn-primary mt-3">Go to Home</a>
    </div>
{% endblock content %}