{% extends "members/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-md-4 bg-danger text-white text-center py-4 px-0">
                <div class="my-3">
                    <h5>Let's Connect</h5>
                    <i class="fas fa-phone"></i>
                    <p>+1-615-704-5704</p>
                </div>
                <div class="my-3">
                    <i class="fas fa-envelope"></i>
                    <p>info@winnerschapelnaville@gmail.com</p>
                </div>
                <div class="my-3">
                    <i class="fas fa-globe"></i>
                    <p>www.winnerschapel.org</p>
                </div>
            </div>
            <div class="col-md-8 p-3">
                <h3>Get in touch</h3>
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form.name|as_crispy_field }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form.email|as_crispy_field }}
                        </div>
                    </div>
                    <div class="mb-3">
                        {{ form.subject|as_crispy_field }}
                    </div>
                    <div class="mb-3">
                        {{ form.message|as_crispy_field }}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

  