{% extends 'members/base.html' %}

{% block content %}
  <div class="container">
    <h1 class="mb-4">Delete Finance Record</h1>
    <div class="card shadow">
      <div class="card-body">
        <h5>Are you sure you want to delete the record"{{ object.subject }}"?</h5>
        <form method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Yes, delete</button>
          <a href="{% url 'customcategory_list' %}" class="btn btn-secondary">No, go back</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}